:host {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.control-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1 1 0;
  align-self: center;
  padding: 0 5px;
  .lang-switcher-container {
    display: flex;
  }
}
