<app-controls-bar></app-controls-bar>
<mat-grid-list
  [cols]="gridTiles.cols"
  [rowHeight]="gridTiles.heigth"
  gutterSize="0px"
>
  <mat-grid-tile
    [colspan]="gridTiles.photoTile.cols"
    [rowspan]="gridTiles.photoTile.rows"
  >
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="gridTiles.introductionTile.cols"
    [rowspan]="gridTiles.introductionTile.rows"
  >
    <div style="padding: 10px">
      <h1 i18n="introduction|Soft presentation">
        Hi, I'm Gabriel De Los Rios and I build enterprise grade frontend
        applications <span>👋</span>
      </h1>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [rowspan]="gridTiles.waveTile.rows"
    [colspan]="gridTiles.waveTile.cols"
  >
    <div class="wave"></div>
  </mat-grid-tile>
</mat-grid-list>
